.info-blog {
  background-color: #ff3333;
  text-align: center;
}

.blog-nav {
    display: table;
    margin:0 auto;
}

.blog-nav li {
    display: table-cell;
}

.blog-nav li + li {
    padding-left: 20px;
}
