.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

[class^="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@media screen and (min-width: 600px) {
  .col-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (min-width: 600px) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-6 {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .col-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-9 {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .col-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-12 {
    width: 100%;
  }
}
