.intro {
  padding-top: 180px;
  height: 520px;
  //background-color: #ffcccc;
  //background: url(intro-bg.jpg) center center / cover no-repeat fixed;
  background-image: url("../images/intro-bg.png");
}

.intro {
  h1, p {
    margin-bottom: 30px;
    text-align: center;
  }
}

.lang-switch {
  text-align:center;
}

.lang-switch a {
  text-decoration: none;
}

.lang-switch li {
  float: left;
  list-style: none;
}

.lang-switch ul {
  display:inline-block;
}
.lang-switch li + li {
  margin-left:20px;
}
