.intro {
  margin: 180px auto;
  //background: url(intro-bg.jpg) center center / cover no-repeat fixed;
}

.intro {
  h1, p {
    margin-bottom: 30px;
    text-align: center;
  }
}

.lang-switch {
  text-align: center;
}

.lang-switch p {
  display: block;
  float: left;
}
