// .info-philosophy {
//   background-color: #ff6666;
// }


.philosophy-list, .philosophy-list-last {
  padding: 20px;
  border: solid #333300 1px;
  width: 100%;
}

.philosophy-list {
  margin-bottom: 20px;
}

.phil-img {
  width: 100%;
}
