.shop-row-01, .shop-row-02 {
  height: 100%;
  @include cf;
}

.shop-row-01 li, .shop-row-02 li {
  float: left;
  width: 33.333333333%;
}

.shop-box {
  width: 100%;
}

//.shop-row-01, .shop-row-02 {
//  width: 100%;
//}

//.trigger-pads{
//  list-style: none;
//  padding: 2em, 2em;
//  height: 100%;
//  @include cf;
//}

//li {
//  float:left;
//  width: 25%;
//}

//.pad{
//  height: 200px;
//  width: 100%;
//  appearance: none;
//  background-color: blue;
//  border: 1px solid rgb(255, 0, 255);
//  border-radius: 3px;
//}
