html {
  font-size: $base-font;
}

body {
  // Shorthand
  // font: normal normal 300 #{type-scale(0)} $sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif;
  color: #333300;

  @media screen and (min-width: 600px){
    font-size: type-scale(0);
  }
}

/* @SECTION HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: 400;
}

h1 {
  font-size: type-scale(4);
}

h2 {
  font-size: type-scale(3);
}

h3 {
  font-size: type-scale(2);
}

h4 {
  font-size: type-scale(1);
}

.info-home, .info-shop, .info-philosophy, .info-blog, .info-contact {
  h2 {
    font-size: 1.5rem;
    font-family: $serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;
  color: #333300;
}

.intro, .info-home {
  h1 {
    font-size: 1.5rem;
    font-family: $serif;
    font-weight: 400;
  }

  li {
    text-transform: uppercase;
    font-size: 0.6rem;
  }
}

.header {
  a, li {
    font-size: 0.7rem;
  }
}

.promotion a {
  color: #ffffff;
  font-family: $serif;
 }

 .logo a {
   color: #ff9900;
   font-family: $sans-serif;
   font-size: 1rem;
   font-weight: 700;
   text-transform: lowercase;
 }

 .logo-white a {
   font-family: $sans-serif;
   font-size: 1rem;
   font-weight: 700;
   text-transform: lowercase;
 }

.mainnav, .subnav {
  a {
  text-transform: uppercase;
  font-size: 0.7rem;
  }
}

.phil-column-02 h2 {
  font-family: $sans-serif;
  text-align: inherit;
  text-transform: none;
}
