@charset "UTF-8";
/* Base */
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @section FUNCTIONS */
/**
 * Type Scale Calculator
 *
 * Create typographic scales
 * @param {$i} increment of scale; 0 is base
 * @param {$scale} scale ratio; defaults to 1.25
 */
/**
 * rem/em Calculator (ie. em-calc(32px, 16px, 'rem')
 *
 * target / context = result
 * @param {$target}  Target size in pixels (ie. 32px)
 * @param {$context} Font size providing context for proportion, defaults to $base-font)
 * @param {$unit} unit for rem/em output, defaults to 'em'
 */
/**
 * Exponent Calculator
 *
 * exponent: 指数（掛け算を繰り返す回数）
 * https://gist.github.com/scottkellum/1160816
 * @param {$base} base number
 * @param {$exponent} exponent/power number
 */
/* VARIABLES */
.info-home, .info-shop, .info-philosophy, .info-blog, .info-contact {
  padding: 50px 0;
}

.info-home h2, .info-shop h2, .info-philosophy h2, .info-blog h2, .info-contact h2 {
  margin-bottom: 50px;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Quicksand", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333300;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1em;
  }
}

/* @SECTION HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre+Baskerville", Georgia, Palatino, serif;
  font-weight: 400;
}

h1 {
  font-size: 6.85353em;
}

h2 {
  font-size: 4.2358em;
}

h3 {
  font-size: 2.61792em;
}

h4 {
  font-size: 1.618em;
}

.info-home h2, .info-shop h2, .info-philosophy h2, .info-blog h2, .info-contact h2 {
  font-size: 1.5rem;
  font-family: "Libre+Baskerville", Georgia, Palatino, serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #333300;
}

.intro h1, .info-home h1 {
  font-size: 1.5rem;
  font-family: "Libre+Baskerville", Georgia, Palatino, serif;
  font-weight: 400;
}

.intro li, .info-home li {
  text-transform: uppercase;
  font-size: 0.6rem;
}

.header a, .header li {
  font-size: 0.7rem;
}

.promotion a {
  color: #ffffff;
  font-family: "Libre+Baskerville", Georgia, Palatino, serif;
}

.logo a {
  color: #ff9900;
  font-family: "Quicksand", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: lowercase;
}

.logo-white a {
  font-family: "Quicksand", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: lowercase;
}

.mainnav a, .subnav a {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.phil-column-02 h2 {
  font-family: "Quicksand", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: inherit;
  text-transform: none;
}

/**
 * Media Queries
 *
 * NOTE: "Relative units in media queries are based
 * on the initial value, which means that units are
 * never based on results of declarations"
 * http://www.w3.org/TR/css3-mediaqueries/#units
 *
 */
/* Layout */
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.intro {
  padding-top: 180px;
  height: 520px;
  background: url("../images/intro-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container-intro {
  width: 48%;
  margin: auto;
}

.intro h1, .intro p {
  margin-bottom: 30px;
  text-align: center;
}

.lang-switch {
  text-align: center;
}

.lang-switch a {
  text-decoration: none;
}

.lang-switch li {
  float: left;
  list-style: none;
}

.lang-switch ul {
  display: inline-block;
}

.lang-switch li + li {
  margin-left: 20px;
}

/* HEADER */
.header {
  top: 0;
}

.fixed {
  position: fixed;
  width: 100%;
}

.nav-01, .nav-02 {
  width: 100%;
}

/* NAVGATION-01 */
.nav-01 {
  background: rgba(51, 51, 0, 0.4);
  /* #333300 */
  height: 30px;
  margin: 0;
  padding: 0;
}

.promotion {
  display: block;
  float: left;
}

.subnav-social {
  display: block;
  float: right;
  margin: 5px auto;
}

.subnav-social a {
  text-decoration: none;
}

.subnav-social li {
  float: left;
}

.subnav-social ul {
  display: inline-block;
}

.subnav-social li + li {
  margin-left: 5px;
}

.facebook {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -10000px;
  background: url("../images/icon-facebook.png");
}

.twitter {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -10000px;
  background: url("../images/icon-twitter.png");
}

.pinterest {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -10000px;
  background: url("../images/icon-pinterest.png");
}

/* NAVIGATION-02 */
.nav-02 {
  height: 50px;
  border-bottom: 1px solid #333300;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.logo {
  display: block;
  float: left;
  margin: 10px 80px auto 0;
}

.mainnav {
  display: block;
  float: left;
  margin-top: 15px;
}

.mainnav li {
  float: left;
}

.mainnav ul {
  display: inline-block;
}

.mainnav li + li {
  margin-left: 20px;
}

.subnav {
  display: block;
  float: right;
  margin-top: 15px;
}

.subnav li {
  float: left;
}

.subnav ul {
  display: inline-block;
}

.subnav li + li {
  margin-left: 20px;
}

.search {
  display: block;
  width: 15px;
  height: 15px;
  text-indent: -10000px;
  background-image: url("../images/icon-search.png");
  background-size: 15px auto;
}

.info-home {
  height: 600px;
  padding-top: 180px;
  background: url("../images/home-bg.png") no-repeat center center;
  background-size: cover;
}

.shop-row-01, .shop-row-02 {
  height: 100%;
}

.shop-row-01:before,
.shop-row-01:after, .shop-row-02:before,
.shop-row-02:after {
  content: "";
  display: table;
  clear: both;
}

.shop-row-01 li, .shop-row-02 li {
  float: left;
  width: 33.333333333%;
}

.shop-box {
  width: 100%;
}

.info-philosophy {
  background-color: #ff6666;
}

.info-blog {
  background-color: #ff3333;
  text-align: center;
}

.blog-nav {
  display: table;
  margin: 0 auto;
}

.blog-nav li {
  display: table-cell;
}

.blog-nav li + li {
  padding-left: 20px;
}

.info-contact {
  background-color: #ff6666;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

.footer-nav {
  display: table;
  margin: 0 auto;
}

.footer-nav li {
  display: table-cell;
}

.footer-nav li + li {
  padding-left: 20px;
}

*,
*::before
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */